@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Montserrat:500');


/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
* {
  box-sizing          : border-box;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper ,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
/* ANIMA screen - caroldashboardhomemodal */
.font-class-1 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-style          : normal;
  font-weight         : 400;
}
.font-class-2 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-style          : normal;
  font-weight         : 500;
}
.font-class-3 {
  color               : var(--auto-palette-color-4);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-size           : 14.0px;
  font-style          : normal;
  font-weight         : 700;
  line-height         : 19.0px;
}
.font-class-4 {
  color               : rgba(126,211,33,1.0);
  font-family         : Montserrat, Helvetica, Arial, serif;
  font-size           : 34.5px;
  font-style          : normal;
  font-weight         : 500;
  letter-spacing      : 1.23px;
  line-height         : 42.0px;
}
.font-class-5 {
  color               : rgba(43,48,52,0.40000000596);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  line-height         : 14.0px;
}
:root {
  --auto-palette-color-1: rgba(106,106,106,1.0);
  --auto-palette-color-10: rgba(153,153,153,1.0);
  --auto-palette-color-2: rgba(130,214,0,1.0);
  --auto-palette-color-3: rgba(255,255,255,1.0);
  --auto-palette-color-4: rgba(0,0,0,1.0);
  --auto-palette-color-5: rgba(73,73,73,1.0);
  --auto-palette-color-6: rgba(43,48,52,1.0);
  --auto-palette-color-7: rgba(80,80,80,1.0);
  --auto-palette-color-8: rgba(121,121,121,1.0);
  --auto-palette-color-9: rgba(138,221,0,1.0);
}
.caroldashboardhomemodal .overlap-group-8lDqYT {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 29px;
  margin-left         : 2px;
  position            : relative;
  width               : 33px;
}
.caroldashboardhomemodal .auto-flex-4JcHOF {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 38px;
  justify-content     : flex-start;
  left                : 248px;
  position            : absolute;
  top                 : 13px;
  width               : auto;
}
.caroldashboardhomemodal .stacked-group-tk4lWs {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 21px;
  justify-content     : flex-start;
  left                : 15px;
  position            : relative;
  top                 : 9px;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .u26a1-ufe0f-hint-text-KXUBlu {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 21px;
  justify-content     : flex-start;
  margin              : 0;
  overflow            : hidden;
  position            : relative;
  transform           : rotate(0deg);
  width               : 573px;
}
.caroldashboardhomemodal .u270f-ufe0f-hint-text-MWL1lc {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-10);
  flex-shrink         : 0;
  font-size           : 16.0px;
  height              : auto;
  line-height         : 21.0px;
  min-height          : 21px;
  min-width           : 95px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .input-lxNTPg {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 16px;
  justify-content     : flex-start;
  margin              : 0;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .ud83c-udfa8-label-zEdaHl {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 16px;
  justify-content     : flex-start;
  margin              : 0;
  overflow            : hidden;
  position            : relative;
  transform           : rotate(0deg);
  width               : 284px;
}
.caroldashboardhomemodal .u270f-ufe0f-label-OIc80R {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-4);
  flex-shrink         : 0;
  font-size           : 16.0px;
  height              : auto;
  line-height         : 21.0px;
  margin-top          : -3.0px;
  min-height          : 21px;
  min-width           : 119px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .order-hash-so-00-HcY6VT {
  background-color    : rgba(255,255,255,0);
  color               : rgba(117,117,117,1.0);
  font-size           : 14.0px;
  height              : auto;
  left                : 76px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 87px;
  transform           : rotate(0deg);
  width               : 604px;
}
.caroldashboardhomemodal .atoms-icons-clear-Va23Lh {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  cursor              : pointer;
  display             : inline-flex;
  flex-direction      : row;
  height              : 14px;
  justify-content     : flex-start;
  left                : 725px;
  position            : absolute;
  top                 : 39px;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .atoms-icons-clear-OWOLvM {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 14px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 14px;
}
.caroldashboardhomemodal .input-vertical-01-text-field-iG3VxZ {
  background-color    : rgba(255,255,255,0);
  height              : 60px;
  left                : 72px;
  position            : absolute;
  top                 : 369px;
  transform           : rotate(0deg);
  width               : 667px;
}
.caroldashboardhomemodal .aligned-left-x5BUYG {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  left                : 0px;
  position            : relative;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 667px;
}
.caroldashboardhomemodal .u26d4-ufe0f-don-t-change-J2dtQo {
  background-color    : rgba(255,255,255,0);
  height              : 38px;
  margin              : 6px 0 0 0;
  position            : relative;
  transform           : rotate(0deg);
  width               : 667px;
}
.caroldashboardhomemodal .ud83d-udea6-field-Ha4ML9 {
  background-color    : rgba(255,255,255,0);
  background-image    : url(".././img/carol-dashboard-home-modal-input-base.png");
  background-size     : 100% 100%;
  height              : 38px;
  left                : 0px;
  position            : absolute;
  transform           : rotate(0deg);
  width               : 667px;
}
.caroldashboardhomemodal .stacked-group-qwZCta {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 21px;
  justify-content     : flex-start;
  left                : 15px;
  position            : absolute;
  top                 : 9px;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .u26a1-ufe0f-hint-text-kFxN5s {
  background-color    : rgba(255,255,255,0);
  height              : 21px;
  margin              : 0;
  position            : relative;
  transform           : rotate(0deg);
  width               : 99px;
}
.caroldashboardhomemodal .stacked-group-bp8GoJ {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 21px;
  justify-content     : flex-start;
  left                : 0px;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .text-enter-amount-HRgJZU {
  background-color    : rgba(255,255,255,0);
  border              : 0;
  color               : var(--auto-palette-color-10);
  font-size           : 16.0px;
  height              : 30px;
  line-height         : 21.0px;
  margin              : 0 0 0 0px;
  padding             : 0;
  position            : relative;
  resize              : none;
  text-align          : left;
  transform           : rotate(0deg);
  width               : 100px;
}
.caroldashboardhomemodal .text-enter-amount-HRgJZU::placeholder {
  color               : rgba(153,153,153,0.6);
}
.caroldashboardhomemodal .text-cursor-r9aWD3 {
  background-color    : rgba(71,156,207,1.0);
  height              : 21px;
  margin              : 0;
  position            : relative;
  transform           : rotate(0deg);
  width               : 1px;
}
.caroldashboardhomemodal .input-Z9toRv {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 16px;
  justify-content     : flex-start;
  margin              : 0;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .ud83c-udfa8-label-etxEEt {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 16px;
  justify-content     : flex-start;
  margin              : 0;
  overflow            : hidden;
  position            : relative;
  transform           : rotate(0deg);
  width               : 284px;
}
.caroldashboardhomemodal .u270f-ufe0f-label-Lj8xQP {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-4);
  flex-shrink         : 0;
  font-size           : 16.0px;
  height              : auto;
  line-height         : 21.0px;
  margin-top          : -3.0px;
  min-height          : 21px;
  min-width           : 132px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .rectangle-pwJWlx {
  background-color    : rgba(255,255,255,0);
  height              : 1230px;
  left                : 0px;
  opacity             : 0.86;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 1441px;
}
.caroldashboardhomemodal .group-xWfRCW {
  background-color    : rgba(255,255,255,0);
  height              : 594px;
  left                : 320px;
  position            : absolute;
  top                 : 221px;
  transform           : rotate(0deg);
  width               : 778px;
}
.caroldashboardhomemodal .group-8-edtUTk {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 594px;
  justify-content     : flex-start;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .group-7-CgVtBb {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 594px;
  justify-content     : flex-start;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .cards-meetings-JMx1qI {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  background-image    : url(".././img/carol-dashboard-home-modal-card-1.png");
  background-size     : 100% 100%;
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 594px;
  justify-content     : flex-start;
  min-width           : 778px;
  padding             : 49.0px 75.0px;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .pay-bill-amount-150-H5Vu2k {
  background-color    : rgba(255,255,255,0);
  color               : rgba(44,51,57,1.0);
  flex-shrink         : 0;
  font-family         : "Futura-Bold", Helvetica, Arial, serif;
  font-size           : 28.0px;
  height              : auto;
  letter-spacing      : 0.00px;
  line-height         : 37.0px;
  min-height          : 36px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : 554px;
}
.caroldashboardhomemodal .group-3-qbzs9y {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  height              : 45px;
  left                : 533px;
  position            : absolute;
  top                 : 468px;
  transform           : rotate(0deg);
  width               : 199px;
}
.caroldashboardhomemodal .rectangle-copy-qrYPCH {
  background-color    : var(--auto-palette-color-7);
  border-radius       : 8.0px;
  height              : 45px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 199px;
}
.caroldashboardhomemodal .pay-this-amount-OjOLow {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-3);
  font-size           : 18.0px;
  height              : auto;
  left                : 33px;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : left;
  top                 : 9px;
  transform           : rotate(0deg);
  width               : 163px;
}
.caroldashboardhomemodal .group-3-copy-xaTyHs {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  height              : 47px;
  left                : 408px;
  position            : absolute;
  top                 : 467px;
  transform           : rotate(0deg);
  width               : 104px;
}
.caroldashboardhomemodal .rectangle-copy-Brpbof {
  background-color    : rgba(246,246,246,1.0);
  border-color        : rgba(150,150,150,1.0);
  border-radius       : 8.0px;
  border-style        : solid;
  border-width        : 1.0px;
  height              : 47px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 104px;
}
.caroldashboardhomemodal .cancel-hDLRcP {
  background-color    : rgba(255,255,255,0);
  color               : rgba(67,67,67,1.0);
  font-size           : 18.0px;
  height              : auto;
  left                : 25px;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : left;
  top                 : 10px;
  transform           : rotate(0deg);
  width               : 69px;
}
.caroldashboardhomemodal .input-vertical-01-text-field-copy-5-PlZJZ0 {
  background-color    : rgba(255,255,255,0);
  height              : 43px;
  left                : 72px;
  position            : absolute;
  top                 : 201px;
  transform           : rotate(0deg);
  width               : 573px;
}
.caroldashboardhomemodal .aligned-left-cCj6CN {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  left                : 0px;
  position            : relative;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 573px;
}
.caroldashboardhomemodal .u26d4-ufe0f-don-t-change-a4EDeX {
  background-color    : rgba(255,255,255,0);
  height              : 21px;
  margin              : 6px 0 0 0;
  position            : relative;
  transform           : rotate(0deg);
  width               : 573px;
}
.caroldashboardhomemodal .stacked-group-AW66Jo {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 21px;
  justify-content     : flex-start;
  left                : 15px;
  position            : relative;
  top                 : 9px;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .u26a1-ufe0f-hint-text-xbS7KW {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 21px;
  justify-content     : flex-start;
  margin              : 0;
  overflow            : hidden;
  position            : relative;
  transform           : rotate(0deg);
  width               : 573px;
}
.caroldashboardhomemodal .u270f-ufe0f-hint-text-hGHpEs {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-10);
  flex-shrink         : 0;
  font-size           : 16.0px;
  height              : auto;
  line-height         : 21.0px;
  min-height          : 21px;
  min-width           : 151px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .input-xqseqo {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 16px;
  justify-content     : flex-start;
  margin              : 0;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .ud83c-udfa8-label-wAoe8T {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 16px;
  justify-content     : flex-start;
  margin              : 0;
  overflow            : hidden;
  position            : relative;
  transform           : rotate(0deg);
  width               : 284px;
}
.caroldashboardhomemodal .u270f-ufe0f-label-Gm7XB9 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-4);
  flex-shrink         : 0;
  font-size           : 16.0px;
  height              : auto;
  line-height         : 21.0px;
  margin-top          : -3.0px;
  min-height          : 21px;
  min-width           : 47px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .input-vertical-01-text-field-copy-7-ddlqei {
  background-color    : rgba(255,255,255,0);
  height              : 43px;
  left                : 72px;
  position            : absolute;
  top                 : 283px;
  transform           : rotate(0deg);
  width               : 573px;
}
.caroldashboardhomemodal .aligned-left-rR5j2E {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  left                : 0px;
  position            : relative;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 573px;
}
.caroldashboardhomemodal .u26d4-ufe0f-don-t-change-Zu47hL {
  background-color    : rgba(255,255,255,0);
  height              : 21px;
  margin              : 6px 0 0 0;
  position            : relative;
  transform           : rotate(0deg);
  width               : 573px;
}
.caroldashboardhomemodal .stacked-group-kIoTLS {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 21px;
  justify-content     : flex-start;
  left                : 15px;
  position            : relative;
  top                 : 9px;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .u26a1-ufe0f-hint-text-4AWQtZ {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 21px;
  justify-content     : flex-start;
  margin              : 0;
  overflow            : hidden;
  position            : relative;
  transform           : rotate(0deg);
  width               : 573px;
}
.caroldashboardhomemodal .u270f-ufe0f-hint-text-KFHCxz {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-10);
  flex-shrink         : 0;
  font-size           : 16.0px;
  height              : auto;
  line-height         : 21.0px;
  min-height          : 21px;
  min-width           : 150px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .input-oCd1O4 {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 16px;
  justify-content     : flex-start;
  margin              : 0;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .ud83c-udfa8-label-xteyjv {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 16px;
  justify-content     : flex-start;
  margin              : 0;
  overflow            : hidden;
  position            : relative;
  transform           : rotate(0deg);
  width               : 284px;
}
.caroldashboardhomemodal .u270f-ufe0f-label-rt3PBx {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-4);
  flex-shrink         : 0;
  font-size           : 16.0px;
  height              : auto;
  line-height         : 21.0px;
  margin-top          : -3.0px;
  min-height          : 21px;
  min-width           : 107px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .input-vertical-01-text-field-copy-6-ZxmxgL {
  background-color    : rgba(255,255,255,0);
  height              : 43px;
  left                : 72px;
  position            : absolute;
  top                 : 121px;
  transform           : rotate(0deg);
  width               : 573px;
}
.caroldashboardhomemodal .aligned-left-jaCwzx {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  left                : 0px;
  position            : relative;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 573px;
}
.caroldashboardhomemodal .u26d4-ufe0f-don-t-change-tCgmja {
  background-color    : rgba(255,255,255,0);
  height              : 21px;
  margin              : 6px 0 0 0;
  position            : relative;
  transform           : rotate(0deg);
  width               : 573px;
}
.caroldashboardhomemodal .hover-copy-2-UG0JBV {
  background-color    : rgba(194,194,194,0.160735994577);
  height              : 43px;
  left                : 0px;
  position            : absolute;
  top                 : 1px;
  transform           : rotate(0deg);
  width               : 1356px;
}
.caroldashboardhomemodal .date-hXusiV {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 1112px;
  line-height         : 19.0px;
  opacity             : 0.47;
  position            : absolute;
  text-align          : left;
  top                 : 13px;
  transform           : rotate(0deg);
  width               : 68px;
}
.caroldashboardhomemodal .time-GhKra0 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 1258px;
  line-height         : 19.0px;
  opacity             : 0.47;
  position            : absolute;
  text-align          : left;
  top                 : 13px;
  transform           : rotate(0deg);
  width               : 68px;
}
.caroldashboardhomemodal .measurement-MO9xFD {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 952px;
  line-height         : 19.0px;
  opacity             : 0.47;
  position            : absolute;
  text-align          : center;
  top                 : 13px;
  transform           : rotate(0deg);
  width               : 116px;
}
.caroldashboardhomemodal .order-hash-xG9yvC {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 65px;
  line-height         : 19.0px;
  opacity             : 0.47;
  position            : absolute;
  text-align          : left;
  top                 : 13px;
  transform           : rotate(0deg);
  width               : 93px;
}
.caroldashboardhomemodal .account-name-QM1cyc {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 214px;
  line-height         : 19.0px;
  opacity             : 0.47;
  position            : absolute;
  text-align          : left;
  top                 : 13px;
  transform           : rotate(0deg);
  width               : 159px;
}
.caroldashboardhomemodal .amount-3xVZxG {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 847px;
  line-height         : 19.0px;
  opacity             : 0.47;
  position            : absolute;
  text-align          : left;
  top                 : 13px;
  transform           : rotate(0deg);
  width               : 68px;
}
.caroldashboardhomemodal .type-TYHy8u {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 393px;
  line-height         : 19.0px;
  opacity             : 0.47;
  position            : absolute;
  text-align          : left;
  top                 : 13px;
  transform           : rotate(0deg);
  width               : 82px;
}
.caroldashboardhomemodal .a9-48-am-2rsVbW {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-5);
  font-size           : 14.0px;
  height              : auto;
  left                : 1308px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 311px;
  transform           : rotate(0deg);
  width               : 76px;
}
.caroldashboardhomemodal .a9-48-am-YfDQBa {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-2);
  font-size           : 14.0px;
  height              : auto;
  left                : 1308px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 354px;
  transform           : rotate(0deg);
  width               : 76px;
}
.caroldashboardhomemodal .credit-puVmpX {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-2);
  font-size           : 14.0px;
  height              : auto;
  left                : 1016px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 354px;
  transform           : rotate(0deg);
  width               : 78px;
}
.caroldashboardhomemodal .a1000-lbs-m9NTTj {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-5);
  font-size           : 14.0px;
  height              : auto;
  left                : 1016px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 307px;
  transform           : rotate(0deg);
  width               : 78px;
}
.caroldashboardhomemodal .may-4-2020-NBXPxA {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-5);
  font-size           : 14.0px;
  height              : auto;
  left                : 1162px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 310px;
  transform           : rotate(0deg);
  width               : 102px;
}
.caroldashboardhomemodal .may-4-2020-oBSUJf {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-2);
  font-size           : 14.0px;
  height              : auto;
  left                : 1162px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 353px;
  transform           : rotate(0deg);
  width               : 102px;
}
.caroldashboardhomemodal .so-0003-qm-Q6BHmN {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 119px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 310px;
  transform           : rotate(0deg);
  width               : 189px;
}
.caroldashboardhomemodal .so-0003-qm-copy-B5dIoP {
  background-color    : rgba(255,255,255,0);
  color               : rgba(126,210,33,1.0);
  font-size           : 14.0px;
  height              : auto;
  left                : 119px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 355px;
  transform           : rotate(0deg);
  width               : 189px;
}
.caroldashboardhomemodal .alice-walker-olDyf1 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-2);
  font-size           : 14.0px;
  height              : auto;
  left                : 264px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 356px;
  transform           : rotate(0deg);
  width               : 189px;
}
.caroldashboardhomemodal .a100-fNtqGj {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-2);
  font-size           : 14.0px;
  height              : auto;
  left                : 897px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 356px;
  transform           : rotate(0deg);
  width               : 81px;
}
.caroldashboardhomemodal .alice-walker-S6V6Pw {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 264px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 311px;
  transform           : rotate(0deg);
  width               : 121px;
}
.caroldashboardhomemodal .a600-vglToj {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 897px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 311px;
  transform           : rotate(0deg);
  width               : 81px;
}
.caroldashboardhomemodal .credit-6RxQxP {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-2);
  font-size           : 14.0px;
  height              : auto;
  left                : 443px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 356px;
  transform           : rotate(0deg);
  width               : 98px;
}
.caroldashboardhomemodal .food-lasts-0CwY9F {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 443px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 311px;
  transform           : rotate(0deg);
  width               : 98px;
}
.caroldashboardhomemodal .status-JTLGli {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 596px;
  line-height         : 19.0px;
  opacity             : 0.47;
  position            : absolute;
  text-align          : left;
  top                 : 265px;
  transform           : rotate(0deg);
  width               : 82px;
}
.caroldashboardhomemodal .haul-service-vfeNgP {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 744px;
  line-height         : 19.0px;
  opacity             : 0.47;
  position            : absolute;
  text-align          : left;
  top                 : 265px;
  transform           : rotate(0deg);
  width               : 121px;
}
.caroldashboardhomemodal .pending-SGFuTH {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-2);
  font-size           : 14.0px;
  height              : auto;
  left                : 596px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 356px;
  transform           : rotate(0deg);
  width               : 98px;
}
.caroldashboardhomemodal .n-a-3b9kUx {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-2);
  font-size           : 14.0px;
  height              : auto;
  left                : 744px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 356px;
  transform           : rotate(0deg);
  width               : 98px;
}
.caroldashboardhomemodal .unpaid-3SBfA7 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 596px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 311px;
  transform           : rotate(0deg);
  width               : 98px;
}
.caroldashboardhomemodal .no-uIk8Y7 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 744px;
  line-height         : 19.0px;
  position            : absolute;
  text-align          : left;
  top                 : 311px;
  transform           : rotate(0deg);
  width               : 98px;
}
.caroldashboardhomemodal .group-3-iFKazk {
  background-color    : rgba(255,255,255,0);
  height              : 45px;
  left                : 1246px;
  position            : absolute;
  top                 : 184px;
  transform           : rotate(0deg);
  width               : 138px;
}
.caroldashboardhomemodal .rectangle-copy-cKR3VR {
  background-color    : var(--auto-palette-color-7);
  border-radius       : 8.0px;
  height              : 45px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 138px;
}
.caroldashboardhomemodal .pay-my-bill-N7rIXr {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-3);
  font-size           : 18.0px;
  height              : auto;
  left                : 26px;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : left;
  top                 : 9px;
  transform           : rotate(0deg);
  width               : 105px;
}
.caroldashboardhomemodal .basyn-OkPkbw {
  background-color    : rgba(255,255,255,0);
  height              : auto;
  left                : 51px;
  position            : absolute;
  text-align          : left;
  top                 : 14px;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .line-IAzSdQ {
  background-color    : rgba(255,255,255,0);
  height              : 2px;
  left                : 50px;
  opacity             : 0.13;
  position            : absolute;
  top                 : 251px;
  transform           : rotate(0deg);
  width               : 1356px;
}
.caroldashboardhomemodal .line-copy-BLWMyf {
  background-color    : rgba(255,255,255,0);
  height              : 2px;
  left                : 50px;
  opacity             : 0.13;
  position            : absolute;
  top                 : 383px;
  transform           : rotate(0deg);
  width               : 1356px;
}
.caroldashboardhomemodal .triangle-1-copy-emkCPX {
  background-color    : rgba(255,255,255,0);
  height              : 4px;
  left                : 1397px;
  position            : absolute;
  top                 : 31px;
  transform           : rotate(0deg);
  width               : 9px;
}
.caroldashboardhomemodal .summary-of-charges-a-HoFxhc {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-8);
  font-size           : 18.0px;
  height              : auto;
  left                : 69px;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : center;
  top                 : 200px;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .a500-00-QZhapX {
  background-color    : rgba(255,255,255,0);
  height              : auto;
  left                : 893px;
  position            : absolute;
  text-align          : center;
  top                 : 400px;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .total-amount-due-on-3kYFxE {
  background-color    : rgba(255,255,255,0);
  height              : auto;
  left                : 115px;
  position            : absolute;
  text-align          : center;
  top                 : 401px;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .carol-biggs-4IqNhT {
  background-color    : rgba(255,255,255,0);
  color               : rgba(163,163,163,1.0);
  flex-shrink         : 0;
  font-size           : 12.0px;
  height              : auto;
  line-height         : 16.0px;
  margin-left         : 13px;
  min-height          : 16px;
  min-width           : 74px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .carol-bOjWnD {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 38px;
  justify-content     : flex-start;
  margin-left         : 38px;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .carol-2ttlek {
  background-color    : rgba(255,255,255,0);
  background-image    : url(".././img/carol-dashboard-home-modal-carol@2x.png");
  background-size     : 100% 100%;
  flex-shrink         : 0;
  height              : 38px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 38px;
}
.caroldashboardhomemodal .search-F975rZ {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 16px;
  justify-content     : flex-start;
  margin-top          : 6.0px;
  min-width           : 62px;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .find-Czqb2y {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : auto;
  margin-left         : 10px;
  min-height          : 15px;
  min-width           : 48px;
  opacity             : 0.15;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .icons-icon-search-Jg9Huz {
  background-color    : rgba(255,255,255,0);
  background-image    : url(".././img/carol-dashboard-home-magnifier@2x.png");
  background-size     : 100% 100%;
  flex-shrink         : 0;
  height              : 16px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 16px;
}
.caroldashboardhomemodal .bar-O3BWhM {
  background-color    : var(--auto-palette-color-6);
  height              : 70px;
  left                : 223px;
  opacity             : 0.1;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 1px;
}
.caroldashboardhomemodal .bar-3g9jGt {
  background-color    : var(--auto-palette-color-6);
  height              : 1px;
  left                : 0px;
  opacity             : 0.1;
  position            : absolute;
  top                 : 69px;
  transform           : rotate(0deg);
  width               : 1440px;
}
.caroldashboardhomemodal .icons-icon-notification-Ov31tk {
  align-items         : flex-end;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 29px;
  justify-content     : flex-start;
  margin-bottom       : 3.0px;
  margin-left         : 819px;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .frame-OEwOtN {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 20px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 20px;
}
.caroldashboardhomemodal .fill-1-riXb1Y {
  background-color    : rgba(255,255,255,0);
  height              : 20px;
  left                : 0px;
  opacity             : 0.4;
  position            : absolute;
  top                 : 9px;
  transform           : rotate(0deg);
  width               : 18px;
}
.caroldashboardhomemodal .bg-itJ0Tw {
  background-color    : rgba(255,255,255,0);
  height              : 19px;
  left                : 14px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 19px;
}
.caroldashboardhomemodal .a1-xwR5ab {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-3);
  font-size           : 13.0px;
  height              : auto;
  left                : 14px;
  line-height         : 10.0px;
  position            : absolute;
  text-align          : center;
  top                 : 1px;
  transform           : rotate(0deg);
  width               : 19px;
}
.caroldashboardhomemodal .shape-7xvjnL {
  align-self          : flex-end;
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 20px;
  margin-bottom       : 4.0px;
  margin-left         : 29px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 24px;
}
.caroldashboardhomemodal .cards-sales-2YwW9O {
  background-color    : rgba(255,255,255,0);
  height              : 365px;
  left                : 20px;
  position            : absolute;
  top                 : 107px;
  transform           : rotate(0deg);
  width               : 1396px;
}
.caroldashboardhomemodal .card-DHqNK4 {
  background-color    : rgba(255,255,255,0);
  height              : 364px;
  left                : 0px;
  position            : absolute;
  top                 : 1px;
  transform           : rotate(0deg);
  width               : 1396px;
}
.caroldashboardhomemodal .rectangle-dU1XyL {
  background-color    : var(--auto-palette-color-7);
  border-radius       : 10.0px;
  height              : 20px;
  left                : 150px;
  position            : absolute;
  top                 : 26px;
  transform           : rotate(0deg);
  width               : 31px;
}
.caroldashboardhomemodal .a1-wk7khw {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-3);
  font-size           : 13.0px;
  height              : auto;
  left                : 162px;
  line-height         : 18.0px;
  position            : absolute;
  text-align          : left;
  top                 : 26px;
  transform           : rotate(0deg);
  width               : auto;
}
.caroldashboardhomemodal .group-7-xyCZfB {
  background-color    : rgba(255,255,255,0);
  height              : 20px;
  left                : 71px;
  position            : absolute;
  top                 : 312px;
  transform           : rotate(0deg);
  width               : 24px;
}
.caroldashboardhomemodal .shape-ybbbAy {
  background-color    : rgba(255,255,255,0);
  height              : 1px;
  left                : 8px;
  position            : absolute;
  top                 : 8px;
  transform           : rotate(0deg);
  width               : 7px;
}
.caroldashboardhomemodal .shape-5UUuU8 {
  background-color    : rgba(255,255,255,0);
  height              : 1px;
  left                : 3px;
  position            : absolute;
  top                 : 3px;
  transform           : rotate(0deg);
  width               : 5px;
}
.caroldashboardhomemodal .shape-sZ8rWj {
  background-color    : rgba(255,255,255,0);
  height              : 6px;
  left                : 3px;
  position            : absolute;
  top                 : 7px;
  transform           : rotate(0deg);
  width               : 3px;
}
.caroldashboardhomemodal .shape-rRKvVf {
  background-color    : rgba(255,255,255,0);
  height              : 1px;
  left                : 8px;
  position            : absolute;
  top                 : 11px;
  transform           : rotate(0deg);
  width               : 3px;
}
.caroldashboardhomemodal .shape-QdKTXx {
  background-color    : rgba(255,255,255,0);
  height              : 17px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 23px;
}
.caroldashboardhomemodal .shape-wOuKde {
  background-color    : rgba(255,255,255,0);
  height              : 1px;
  left                : 18px;
  position            : absolute;
  top                 : 3px;
  transform           : rotate(0deg);
  width               : 2px;
}
.caroldashboardhomemodal .shape-5vOUzo {
  background-color    : rgba(255,255,255,0);
  height              : 8px;
  left                : 15px;
  position            : absolute;
  top                 : 12px;
  transform           : rotate(0deg);
  width               : 8px;
}
.caroldashboardhomemodal .shape-v1hGWm {
  background-color    : rgba(255,255,255,0);
  height              : 1px;
  left                : 14px;
  position            : absolute;
  top                 : 3px;
  transform           : rotate(0deg);
  width               : 2px;
}
.caroldashboardhomemodal .shape-lAyxku {
  background-color    : rgba(255,255,255,0);
  height              : 1px;
  left                : 16px;
  position            : absolute;
  top                 : 3px;
  transform           : rotate(0deg);
  width               : 2px;
}
.caroldashboardhomemodal .shape-x3cexC {
  background-color    : rgba(255,255,255,0);
  height              : 1px;
  left                : 15px;
  position            : absolute;
  top                 : 8px;
  transform           : rotate(0deg);
  width               : 3px;
}
.caroldashboardhomemodal .shape-QGqIak {
  background-color    : rgba(255,255,255,0);
  height              : 1px;
  left                : 12px;
  position            : absolute;
  top                 : 11px;
  transform           : rotate(0deg);
  width               : 5px;
}
.caroldashboardhomemodal .all-invoices-xVjMiu {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-8);
  font-size           : 18.0px;
  height              : auto;
  left                : 70px;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : left;
  top                 : 130px;
  transform           : rotate(0deg);
  width               : 96px;
}
.caroldashboardhomemodal .hover-vtJlwg {
  background-color    : rgba(194,194,194,0.089560687542);
  height              : 40px;
  left                : 50px;
  position            : absolute;
  top                 : 345px;
  transform           : rotate(0deg);
  width               : 1356px;
}
.caroldashboardhomemodal .group-8-7PUjUR {
  background-color    : rgba(255,255,255,0);
  height              : 20px;
  left                : 69px;
  position            : absolute;
  top                 : 354px;
  transform           : rotate(0deg);
  width               : 27px;
}
.caroldashboardhomemodal .shape-bigjln {
  background-color    : rgba(255,255,255,0);
  height              : 6px;
  left                : 11px;
  position            : absolute;
  top                 : 7px;
  transform           : rotate(0deg);
  width               : 4px;
}
.caroldashboardhomemodal .oval-JUO9ic {
  background-color    : rgba(255,255,255,0);
  height              : 1px;
  left                : 20px;
  position            : absolute;
  top                 : 7px;
  transform           : rotate(0deg);
  width               : 1px;
}
.caroldashboardhomemodal .shape-FyZxC4 {
  background-color    : rgba(255,255,255,0);
  height              : 20px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 26px;
}
.caroldashboardhomemodal .group-4-Tu8Qgm {
  background-color    : rgba(255,255,255,0);
  height              : 44px;
  left                : 50px;
  position            : absolute;
  top                 : 252px;
  transform           : rotate(0deg);
  width               : 1356px;
}
.caroldashboardhomemodal {
  background-color    : var(--auto-palette-color-3);
  height              : 1228.0px;
  overflow            : hidden;
  position            : relative;
  width               : 1440.0px;
}
.caroldashboardhomemodal .header-smznCv {
  background-color    : var(--auto-palette-color-3);
  height              : 70px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 1440px;
}